<main>
    <img
        id="sadFaceImg"
        src="https://as2.ftcdn.net/v2/jpg/01/96/58/21/1000_F_196582118_Ve0LphgWCOxFuGuj4mKi93SnvNcFq21B.jpg?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
        alt="sad face"
    />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>
