html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: flex-start;
}

h3 {
    font-family: Georgia, serif;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 13px 4px #c3c1c1;
    margin: 70px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

img {
    width: 100%;
    border-radius: 5px;
}

.image-description {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}

.card-title {
    margin-bottom: 0;
}

.btn {
    align-self: flex-end;
    background: rgb(0, 153, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}

@media (max-width: 820px) {
    body {
        justify-content: center;
    }

    .card {
        margin: 70px 10px 0 10px;
    }
}
