.footer {
    display: flex;
    width: 100%;
    background-color: #ffa000;
    color: #234465;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    margin-bottom: 1%;
}

.footer-list-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.footer-list {
    display: flex;
    flex-grow: 1;
}

.footer-copy {
    text-align: center;
    font-weight: bold;
    flex-basis: 100%;
}

.post-img-container {
    margin: 7px;
    max-width: 130px;
    height: 130px;
}

.post-img {
    width: 100%;
}
