@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body {
    font-family: "Poopins", sans-serif;
    background-image: url(./image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input:focus {
    outline: none;
}

.layer {
    background-color: rgb(13 13 15 / 70%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.login-form-wrapper {
    position: relative;
    z-index: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    padding: 15px;
    min-width: 230px;
}

.login-form-data {
    display: flex;
    flex-direction: column;
}

.login-form-title {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.label-username {
    margin-bottom: 10px;
}

.label-password {
    margin-top: 11px;
}

.label-username::after,
.label-password::after {
    content: "";
    background-color: lightgray;
    height: 1px;
    width: 260px;
    left: 0px;
    position: absolute;
}

.label-username::after {
    top: 96px;
}

.label-password::after {
    bottom: 62px;
}

.username,
.password {
    position: relative;
    border: none;
    background: transparent;
}

.login-form-data i {
    position: absolute;
    left: 18px;
    color: lightgrey;
}

.login-form-button {
    border: none;
    color: white;
    background-color: #d41872;
    padding: 8px 39px;
    border-radius: 26px;
    text-transform: uppercase;
    margin-top: 24px;
}
