body {
    background: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    font-size: 26px;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

p {
    font-size: 0.8em;
}

button:hover {
    background: rgb(0, 138, 0);
}

button:active {
    transform: scale(0.99);
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.card {
    border-radius: 6px;
    box-shadow: 0px 0px 20px 17px #3e3e3e3b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 600px;
}

.card-img-container img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
}

.card-content-container {
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
}

.card-content-header,
.card-content-description {
    text-align: left;
}

.card-content-button {
    background: rgb(0, 153, 0);
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}
