<div class="container">
    <div class="about-us">
        <div>
            <img src="../../public/shoes.jpg" alt="shoes">
            <img src="../../public/shoes2.jpg" alt="shoes2">
        </div>
        <p>
            <a href="#/register">Register Now</a> and Try it!
        </p>
    </div>
</div>