<div class="shoes">
    {{#each shoes}}
    {{> shoePartial}}
    {{else}}
    <h2 class="empty">No shoes to display. Be the first to <a href="#/create">create</a> a new offer...</h2>
    {{/each}}
</div>